@charset "UTF-8";

#fleh {
	position: absolute;
	top: .5em;
	left: 50%;
	z-index: 999;
	background: rgba(255, 255, 255, .8);
	width: 30em;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ddd;
	margin-left: -15em;
}

#fleh-autopilot {
	text-align: right;
	margin-bottom: 5px;
}

#fleh-autopilot button {
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid;
}

#fleh-autopilot .fleh-switch-on {
	color: #3ea700;
	background: #f3fedd;
	border-color: #dcefb6;
}

#fleh-autopilot .fleh-switch-on:hover,
#fleh-autopilot .fleh-switch-on:focus {
	border-color: #3ea700;
}

#fleh-autopilot .fleh-switch-off {
	color: #e91c24;
	background: #fff7e1;
	border-color: #ffe0b0;
}

#fleh-autopilot .fleh-switch-off:hover,
#fleh-autopilot .fleh-switch-off:focus {
	border-color: #e91c24;
}

#fleh-log {
	overflow: auto;
	min-height: 2.3em;
	max-height: 4.7em;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #ddd;
}

.fleh-hint-max-xph,
.fleh-hint-max-xphb,
.fleh-hint-max-cph,
.fleh-hint-max-cphb {
	position: relative;
	z-index: 999;
	font-weight: bold;
	background: #fff;
	padding: 2px;
	border-radius: 5px;
	border: 1px solid #ddd;
	margin-bottom: -1px;
}

.fleh-hint-max-xph,
.fleh-hint-max-xphb {
	color: #202080;
}

.fleh-hint-max-cph,
.fleh-hint-max-cphb {
	color: #208020;
}
